export(patmatch)
export(fail)
export(is.fail)
export(emptyBindings)
export(is.emptyBindings)
export(get.binding)
export(has.binding)
export(add.binding)
export(substCall)
export(rule)
export(rulebase)
export(print.rulebase)
export(print.rule)
export(combineRulebase)
export(applyRulebase)
export(simplify)
S3method(simplify, "function")
S3method(simplify, call)
export(rulebasedSimplify)
export(arithmeticSimplificationRules)
export(logarithmSimplificationRules)
export(trigonometricSimplificationRules)
export(basicSimplificationRules)
